<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <script type="text/javascript" src="../lib/qrcode.js"></script>
    <script src="./../js/main.js"></script>
    <title>Qr-code generator</title>
  </head>
  <body>
    <input type="text" id="valor" value="" />
    <button onClick="createQrCode()">Gerar QR Code</button>
    <div id="qrcode"></div>
  </body>
</html>
